body{
 width: 100%;
 height: 100%;
 margin: 0;
}


.innerheader{
    
    width:80%;
 margin:auto;

}

.logo
{
 float: left;
height:50px;
 padding: 15px;
 font-size: 20px;
 font-weight: bold;
}

.header-link
{
 float:right;
 font-size:14px;
 height: 50px;
 padding: 15px 15px 15px 15px;
 font-size:16px;
 font-weight: bold;
}



#banner_image
{
   padding-top: 75px;
padding-bottom: 50px;
text-align: center;
color: #f8f8f8;
 background: url(images/intro.jpg) no-repeat center center;
background-size: cover;
  
}

.inner-bannerimage
{text-align:center;
 
 width:50%;
 margin:auto;
}

#banner_content
{
 position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 margin-top: 12%;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;
}


.items
{
     width:30%;
 display: block;
 padding: 4px;
 margin-bottom: 20px;
 line-height: 1.42857143;
 background-color: #fff; 
 border: 1px solid #ddd;
 border-radius: 4px;
 float:left;
 margin-left:1%;

}

.thumbnail
{
    display: block;
 max-width: 100%;
 height: auto;

}

.caption{
     color:#000;
 padding:0px 10px 10px;
 font-weight: bold;
 text-align: center;

}
.footer
{ 
    padding: 10px 0;
 background-color: #101010;
 color:#9d9d9d;
 position:static;
bottom: 0;
 width: 100%;
}


